In [12]:
import pandas as pd
data = {
    'empid': [1, 1, 3, 4, 5],
    'name': ['sh', 'sh', 'ya', 'di', 'xit'],
    'age': [10, 10, 12, 12, 13],
    'pic': ['p1', 'p1', 'p3', 'p4', 'p5'],
    'piic': ['p1', 'p1', 'p2', 'p4', 'p5'],
    'na': ["", "", "", "", ""]
}
df = pd.DataFrame(data)
d=df.to_csv("stu.csv")
d=pd.read_csv("stu.csv")
mean=d['age'].mean()
print(f"Mean :{mean} ")
print("median : ",d['age'].median())
print("mode : ",d['age'].mode().iloc[0])

Mean :11.4
median :  12.0
mode :  10

In [14]:
uniq=d['age'].unique()
print("unique values are : ",uniq)
uniqn=d['age'].nunique()
print("total unique values are : ",uniqn)

[10 12 13]
3

In [16]:
print("after descending sorting : ",d.sort_values(by=['age'],ascending=False).tail(3))

after descending sorting :     Unnamed: 0  empid name  age pic piic  na
2           2      3   ya   12  p3   p2 NaN
0           0      1   sh   10  p1   p1 NaN
1           1      1   sh   10  p1   p1 NaN

In [17]:
print("largest 3 values :",d.nlargest(3,['age']).head())

largest 3 values :    Unnamed: 0  empid name  age pic piic  na
4           4      5  xit   13  p5   p5 NaN
2           2      3   ya   12  p3   p2 NaN
3           3      4   di   12  p4   p4 NaN

In [22]:
print(d['age'].groupby(d['name']).sum())

name
di     12
sh     20
xit    13
ya     12
Name: age, dtype: int64