In [1]:
import numpy as np

In [5]:
#Suppose you have a dataset containing daily temperature readings for a city, and you want to identify days with extreme temperature conditions. Find days where the temperature either exceeded 35 degrees Celsius (hot day) or dropped below 5 degrees Celsius (cold day).
temperatures=np.array([32.5,34.2,36.8,29.3,31.0,38.7,23.1,18.5,22.8,37.2,4,1,-1,0,-2,1])
print("days above 35 are days",*np.where(temperatures>35.0))
print("days below 5 are days ",*np.where(temperatures<5))

days above 35 are days [2 5 9]
days below 5 are days  [10 11 12 13 14 15]

In [6]:
#ques2 spplit data into quaterly reports
sales=np.array([120,135,148,165,180,155,168,190,205,198,210,225])
i,j=0,0
while j<len(sales):
    print("quarter ",i,":")
    i+=1
    j+=4
    print(*np.split(sales,4)[i])

quarter  0 :
165 180 155
quarter  1 :
168 190 205
quarter  2 :
198 210 225

In [7]:
#ques3 split data into 2 groups for greater than 30 and less than 30

customer_ids = np.array([101, 102, 103, 104, 105, 106, 107, 108, 109, 110])
last_purchase = np.array([5, 15, 20, 25, 30, 35, 40, 45, 50, 55])
new=np.array([])
ne2=np.array([])
i=0
while i<len(last_purchase):
    if last_purchase[i]>30:
        new=np.append(new,customer_ids[i])
    else:
        ne2=np.append(ne2,customer_ids[i])
    i+=1
print("active customer")
print(ne2)
print("inactive customer")
print(new)

active customer
[101. 102. 103. 104. 105.]
inactive customer
[106. 107. 108. 109. 110.]

In [8]:
#ques4 combine this data to create a comprehensive employee dataset for HR analysis
full_time_employees = np.array([
[101, 'John Doe', 'Full-Time', 55000],
[102, 'Jane Smith', 'Full-Time', 60000],
[103, 'Mike Johnson', 'Full-Time', 52000]
])

part_time_employees = np.array([
[201, 'Alice Brown', 'Part-Time', 25000],
[202, 'Bob Wilson', 'Part-Time', 28000],
[203, 'Emily Davis', 'Part-Time', 22000]
])

arr_new=np.vstack((full_time_employees,part_time_employees))
for i in arr_new:
    print("Employee ID",i[0],", Name",i[1],", type",i[2],", Salary",i[3])

Employee ID 101 , Name John Doe , type Full-Time , Salary 55000
Employee ID 102 , Name Jane Smith , type Full-Time , Salary 60000
Employee ID 103 , Name Mike Johnson , type Full-Time , Salary 52000
Employee ID 201 , Name Alice Brown , type Part-Time , Salary 25000
Employee ID 202 , Name Bob Wilson , type Part-Time , Salary 28000
Employee ID 203 , Name Emily Davis , type Part-Time , Salary 22000

In [9]:
#ASSIGNMNET

#ques1-----------------
list1 = [
np.array([3, 2, 8, 9]),
np.array([4, 12, 34, 25, 78]),
np.array([23, 12, 67])
]

v=0
for i in list1:
    print(np.mean(list1[v]))
    v+=1

5.5
30.6
34.0

In [10]:
#ques2-------------------
x_odd = np.array([1, 2, 3, 4, 5, 6, 7])
print("median is :",np.median(x_odd))

median is : 4.0

In [11]:
#ques3------------------------------------------------

arr = [20, 2, 7, 1, 34]
print("standard deviation :",np.std(arr))

arrf32=np.array(arr,dtype=np.float32)
arrf64=np.array(arr,dtype=np.float64)
arrstd=np.std(arrf32)
arrstd1=np.std(arrf64)
print("float 32",arrstd)
print("float 64",arrstd1)

standard deviation : 12.576167937809991
float 32 12.576168
float 64 12.576167937809991

In [ ]:
#ques4-------------------------------