In [4]:
#1. Sum All Items in a List
def sum_of_list(lst):
    total = 0
    for item in lst:
        total += item
    return total
my_list = [1, 2, 3, 4, 5]
print("Sum of all items:", sum_of_list(my_list))

Sum of all items: 15

In [3]:
#2. Get the Largest and Smallest Number from a List Without Built-in Functions
def find_min_max(lst):
    min_val = lst[0]
    max_val = lst[0]
    for item in lst:
        if item < min_val:
            min_val = item
        if item > max_val:
            max_val = item

    return min_val, max_val

my_list = [5, 2, 9, 1, 5, 6]
min_val, max_val = find_min_max(my_list)
print("Smallest number:", min_val)
print("Largest number:", max_val)

Smallest number: 1
Largest number: 9

In [ ]:
#3. Find Duplicate Values from a List
def find_duplicates(lst):
    seen = set()
    duplicates = set()

    for item in lst:
        if item in seen:
            duplicates.add(item)
        else:
            seen.add(item)

    return list(duplicates)

# Example usage
my_list = [1, 2, 3, 2, 4, 5, 1]
print("Duplicate values:", find_duplicates(my_list))

In [5]:
#4. Write a Python program to split a given list into two parts where the length of the first part of the list is given.

def split_list(lst, i):
    return lst[:i], lst[i:]

original_list = [1, 1, 2, 3, 4, 4, 5, 1]
length = 3
first_part, second_part = split_list(original_list, length)
print("First part:", first_part)
print("Second part:", second_part)

First part: [1, 1, 2]
Second part: [3, 4, 4, 5, 1]

In [6]:
#5. Write a Python program to traverse a given list in reverse order, and print the elements with the original index.

def traverse_reverse(lst):
    for index in range(len(lst) - 1, -1, -1):
        print(lst[index])

original_list = ['red', 'green', 'white', 'black']
print("Traverse the list in reverse order:")
traverse_reverse(original_list)

Traverse the list in reverse order:
black
white
green
red

In [7]:
#1. Write a Python program and calculate the mean of the below dictionary.
def calculate_mean(dictionary):
    values = dictionary.values()
    return sum(values) / len(values)

test_dict = {"A": 6, "B": 9, "C": 5, "D": 7, "E": 4}
print("Mean:", calculate_mean(test_dict))

Mean: 6.2

In [8]:
#2.Write a Python script to concatenate the following dictionaries to create a new one.
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}

concatenated_dict = {}

concatenated_dict.update(dic1)
concatenated_dict.update(dic2)
concatenated_dict.update(dic3)

print("Concatenated Dictionary:", concatenated_dict)

Concatenated Dictionary: {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [10]:
#3.Write a Python program to get the key, value and item in a dictionary.
def display_dict_items(dictionary):
    print("Key\tValue")
    for key, value in dictionary.items():
        print(key,'\t',value)

# Example usage
dict_num = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
display_dict_items(dict_num)

Key	Value
1 	 10
2 	 20
3 	 30
4 	 40
5 	 50
6 	 60

In [11]:
#4.Write a Python program to get the key, value and item in a dictionary.

input_dict = {1: 10, 2: 20, 3: None, 4: 40, 5: None, 6: 60}

cleaned_dict = {}

for k, v in input_dict.items():
    if v is not None:
        cleaned_dict[k] = v

print("Dictionary with empty items dropped:", cleaned_dict)

Dictionary with empty items dropped: {1: 10, 2: 20, 4: 40, 6: 60}

In [13]:
#1. Write a Python program to find the number of times 4 appears in the tuple.

tuplex = (2, 4, 5, 6, 2, 3, 4, 4, 7)
print("Number of times 4 appears:", tuplex.count( 4))

Number of times 4 appears: 3

In [15]:
#2.Write a Python program to convert a list to a tuple.

listx = [5, 10, 7, 4, 15, 3]
print("Tuple:", tuple(listx))

Tuple: (5, 10, 7, 4, 15, 3)

In [16]:
#3. Write a Python program to calculate the sum of the numbers in a given tuple.

tuples_list = [(1, 2), (3, 4), (5, 6)]

total_sum = 0
for tpl in tuples_list:
    for num in tpl:
        total_sum += num
print("Sum of tuple is:", total_sum)

Sum of tuple is: 21

In [17]:
#4.Write a python program and iterate the given tuples

employee1 = ("John Doe", 101, "Human Resources", 60000)
employee2 = ("Alice Smith", 102, "Marketing", 55000)
employee3 = ("Bob Johnson", 103, "Engineering", 75000)

employees = [employee1, employee2, employee3]

print("Employee Records:")
for emp in employees:
    print("\nName:", emp[0])
    print("Employee ID:", emp[1])
    print("Department:", emp[2])
    print("Salary:", emp[3])

Employee Records:

Name: John Doe
Employee ID: 101
Department: Human Resources
Salary: 60000

Name: Alice Smith
Employee ID: 102
Department: Marketing
Salary: 55000

Name: Bob Johnson
Employee ID: 103
Department: Engineering
Salary: 75000

In [18]:
# 1. Write a Python program to Get Only unique items from two sets.
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

unique_items = set()

for item in set1:
    if item not in set2:
        unique_items.add(item)

for item in set2:
    if item not in set1:
        unique_items.add(item)

print("Unique items:", unique_items)

Unique items: {10, 20, 70, 60}

In [20]:
#2. Write a Python program to Return a set of elements present in Set A or B, but not both.

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

ele = set()

for item in set1:
    if item not in set2:
        ele.add(item)

for item in set2:
    if item not in set1:
        ele.add(item)

print("elements are:", ele)

elements are: {10, 20, 70, 60}

In [21]:
#3. Write a Python program to Check if two sets have any elements in common. If yes, display the common elements.

set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

common_elements = set()
for item in set1:
    if item in set2:
        common_elements.add(item)

print("Common elements:", common_elements)

Common elements: {10}

In [22]:
#4.  Write a Python program to Remove items from set1 that are not common to both set1 and set2.

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

ele = set()

for item in set1:
    if item in set2:
        ele.add(item)

print("Items common to both sets:", ele)

Items common to both sets: {40, 50, 30}